<%= provide(:title, "Album")%>
<div class="content-row">
	<h2><i class="glyphicon glyphicon-camera glyphy"></i> About Palmetto Studios</h2>
</div>

<div class="carousel slide" id="my-carousel">
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag "boyet1.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Boyet - Owner &amp Chief Photographer</h3></span>
			</div>
			<div class="item">
				<%= image_tag "boyet2.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption">Boyet and his wife, Agnes</span>
			</div>
			<div class="item">
				<%= image_tag "boyet3.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption">The nature lover</span>
			</div>
			<div class="item">
				<%= image_tag "boyet4.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption">The Frequent Traveller</span>
			</div>
		</div>
		<a href="#my-carousel" class="carousel-control left" data-slide="prev">&#10094;</a>
		<a href="#my-carousel" class="carousel-control right" data-slide="next">&#10095;</a>
</div>