<%= provide(:title, "Home")%>
<div class="content-row">
	<h2> <i class="glyphicon glyphicon-home glyphy"></i>     Welcome to Palmetto Studios</h2>
	<hr/>
	<div class="carousel slide" id="my-carousel">
	  	<ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		    <li data-target="#myCarousel" data-slide-to="4"></li>
		    <li data-target="#myCarousel" data-slide-to="5"></li>
		    <li data-target="#myCarousel" data-slide-to="6"></li>	
		    <li data-target="#myCarousel" data-slide-to="7"></li>
		    <li data-target="#myCarousel" data-slide-to="8"></li>	    
	  	</ol>
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag "1.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Family Portraits</h3></span>
			</div>
			<div class="item">
				<%= image_tag "3.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Family Portraits</h3></span>
			</div>
			<div class="item">
				<%= image_tag "2.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Group Portraits</h3></span>
			</div>

			<div class="item">
				<%= image_tag "4.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Timeless Romance</h3></span>
			</div>
			<div class="item">
				<%= image_tag "5.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Sir Chief and avid fan</h3></span>
			</div>
			<div class="item">
				<%= image_tag "6.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Baby portraits</h3></span>
			</div>
			<div class="item">
				<%= image_tag "8.jpg", :class=>"img img-responsive contact-logo" %>
				<span class="carousel-caption"><h3>Group Photos</h3></span>
			</div>
		</div>
		<a href="#my-carousel" class="carousel-control left" data-slide="prev"><h2><i class="glyphicon glyphicon-chevron-left glyphy"></i></a>
		<a href="#my-carousel" class="carousel-control right next" data-slide="next"><i class="glyphicon glyphicon-chevron-right glyphy"></i></a>
	</div>
</div>


