
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div class="content-row=aside">
        <li id="sidebar-brand">
           <a href ="/"><%= image_tag "PalmettoLogo.png", class:"img img-responsive size-logo" %></a>
        </li>
        <li><strong><i class="glyphicon glyphicon-home glyphy"></i><%= link_to " Welcome", root_path, class:"sidemenu" %></strong></li>
        <li><strong><i class="glyphicon glyphicon-camera glyphy"></i><%= link_to " About", about_path, class:"sidemenu" %></strong></li>
         <li><strong><i class="glyphicon glyphicon-briefcase glyphy"></i><%= link_to " Clients", clients_path%></strong></li>
         <li><strong><i class="glyphicon glyphicon-folder-close glyphy"></i><%= link_to " Blog", blog_path %></strong></li>
        <li><strong><i class="glyphicon glyphicon-pencil glyphy"></i><%= link_to " Contact", contact_path %></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

